<div class="container" [ngStyle]="{ border: '1px solid ' + singleBoard?.label?.color }">
  <div class="header">
    <div class="title">
      {{ singleBoard?.label.name ? singleBoard?.label.name : 'Undefined' }}
    </div>

    <div class="counter">{{ 'board.tasks' | translate }} {{ issues?.length }}</div>
  </div>

  <div class="body">
    <div class="single-issue" *ngFor="let issue of issues; let i = index" (click)="showDetailsOfIssue(issue)">
      <div class="issue-title">
        {{ issue?.title }}
      </div>

      <div class="issue-body">
        <div class="issue-body__labels">
          <div
            class="issue-body__labels__single"
            *ngFor="let label of issue.labels"
            [ngStyle]="{ 'background-color': label.color, color: label.text_color }"
          >
            {{ label?.name }}
          </div>
        </div>

        <div class="issue-body__avatar">
          <img src="/assets/images/no-person.png" alt="Avatar" *ngIf="!issue.assignees[0]?.avatar_url" />
          <img [src]="issue.assignees[0].avatar_url" alt="Avatar" *ngIf="issue.assignees[0]?.avatar_url" />
        </div>
      </div>
    </div>
  </div>
</div>
<gitlab-helper-show-details [issueDetails]="issue" *ngIf="showDetails"></gitlab-helper-show-details>
<div class="on-click-close" (click)="closeOnClick()" *ngIf="showDetails"></div>
