<div class="container">
  <div class="header">
    <div class="title">
      {{ currentGroup?.name ? currentGroup?.name : 'To do' }}
    </div>

    <div class="counter">
      {{ 'board.tasks' | translate }}
    </div>
  </div>

  <div class="body">
    <div class="single-issue" *ngFor="let issue of [0, 1, 2, 3, 4]">
      <div class="issue-title">
        {{ '(2) Widok statystyk - spięcie z backendem' }}
      </div>

      <div class="issue-body">
        <div class="issue-body__labels">
          <div class="issue-body__labels__single" *ngFor="let label of [0, 1, 2, 3]">
            {{ 'DevOps' }}
          </div>
        </div>

        <div class="issue-body__avatar">
          <img src="/assets/images/senko.jpg" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>
</div>
