.container {
  background-color: #eceff1;
}

.whole-window {
  max-height: 70vh;
  min-height: 20vh;
  overflow-y: auto;
  width: 50%;
  background-color: #e0e0e0;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  &__close-window {
    position: absolute;
    width: 60px;
    top: 0;
    left: calc(100% - 64px);
    background-color: #1565c0;
    color: white;
  }
}

.buttons-container {
  padding-left: 20px;
  background-color: #cfd8dc;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.mat-form-field {
  padding-right: 20px;
  max-height: 65px;
}

.container-label {
  display: flex;
  flex-direction: row;
  background-color: #eceff1;
  padding-top: 20px;
  overflow-x: auto;
}

.title {
  margin-right: 50px;
  p {
    font-size: 18px;
    color: black;
  }
}
