.container {
  max-width: 900px;
  min-width: 900px;
  max-height: 520px;
  min-height: 520px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  position: relative;
  z-index: 5;
  display: flex;
}

.container-inside {
  margin: 41px 35px 25px 41px;
  height: calc(522px - 66px);
  display: flex;
  flex-direction: column;
  width: 75%;
}

.container-inside-panel {
  width: 25%;
  height: calc(522px - 30px);
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 10px;

  .assignees {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    margin-top: 100px;

    &__title {
      font-size: 13px;
      margin: 0;
      margin-left: 5px;
      font-weight: 300;
      line-height: 24px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      margin: 10px 0 0 5px;
      align-items: center;
      background-color: #f1f1f8;
      border-radius: 25px;
      margin-right: 33px;

      &__description {
        font-size: 13px;
        margin-left: 5px;
      }

      &__avatar {
        img {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          padding: 2px 0 0 5px;
        }
      }
    }
  }

  .labels {
    display: flex;
    flex-direction: column;
    min-height: 220px;

    &__container {
      display: flex;
      flex-flow: row wrap;
    }

    &__title {
      font-size: 13px;
      margin: 0 0 5px 5px;
    }

    &__single {
      max-height: 15px;
      border-radius: 25px;
      padding: 3px;
      margin: 5px 5px 0 5px;
      font-size: 10px;
      min-width: 78px;
      display: flex;
      justify-content: center;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  input {
    border: none;
    background-color: transparent;
    margin: 20px 0 10px 0;
  }
  input::placeholder {
    border-bottom: 1px solid #eef0f6;
    color: #a6acbe;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #de7e00;
  color: white;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  min-width: 225px;
  min-height: 50px;
  margin: 20px 13px 0 0;

  svg-icon {
    margin: 17px 35px 17px 20px;
  }

  p {
    margin: 0 40px 0 0;
    font-size: 14px;
  }
}

.title {
  color: black;
  font-size: 24px;
  font-weight: 800;
  margin: 5px 0 10px 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eef0f6;
}

.title-text {
  margin: 0;
}

.token-redirect {
  font-size: 10px;
  text-decoration: none;
  color: #a6acbe;
}

.status {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;

  p {
    margin: 0;
    margin-right: 5px;
  }
  /* stylelint-disable */
  &__label {
    margin: 0 10px;
    background-color: #108548;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  &__created-at {
    margin-right: 10px !important;
  }

  &__avatar {
    img {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin-top: 5px;
    }
  }
}
