<div class="container">
  <div class="container-inside">
    <div class="header">
      <p class="title">Hello!</p>
      <p class="title-text">Lorem ipsum</p>
    </div>
    <div class="body">
      <input
        type="text"
        name="gitlabURL"
        placeholder="https://gitlab.com/ or another valid GitLab URL"
        [(ngModel)]="gitlabURL"
      />
      <input type="text" name="gitlabToken" placeholder="Provide valid GitLab Access token" [(ngModel)]="gitlabToken" />
      <a href="" class="token-redirect">How to generate gitlab token?</a>
    </div>
    <div class="buttons">
      <button class="confirm-button" type="button" (click)="getAuthorization()">
        <svg-icon src="/assets/images/plus.svg" [applyClass]="true"></svg-icon>
        <p>Link with GitLab</p>
      </button>
    </div>
  </div>
</div>
