<div class="container">
  <div class="header">
    <div class="title-container">
      <p class="title">GitLab Helper</p>
      <div class="labels">
        <p class="board-label">Board: {{ 'xD' }} /</p>
        <p class="board-label">Group: {{ 'xD' }} /</p>
        <p class="board-label">Assignee: {{ 'xD' }}</p>
      </div>
    </div>
    <div class="header-buttons">
      <button class="select-button">
        <svg-icon class="select-button__pencil-icon" src="assets/images/pencil.svg" [applyCss]="true"></svg-icon>
        {{ 'Change group' }}
      </button>
      <button class="select-button">
        <svg-icon class="select-button__pencil-icon" src="assets/images/pencil.svg" [applyCss]="true"></svg-icon>
        {{ 'Change board' }}
      </button>
      <button class="select-button">
        <svg-icon class="select-button__pencil-icon" src="assets/images/pencil.svg" [applyCss]="true"></svg-icon>
        {{ 'Change assignee' }}
      </button>
      <svg-icon class="side-line" src="assets/images/line.svg" [applyCss]="true"></svg-icon>
    </div>
  </div>

  <div class="body">
    <gitlab-helper-setup-window *ngIf="!setupComplete"></gitlab-helper-setup-window>
    <div class="body__empty">
      <p class="body__empty__title">This board is empty!</p>
      <p class="body__empty__pick">Please pick different one or add new task.</p>
    </div>

    <div class="issues-container"></div>
  </div>

  <div class="settings-bar">
    <div class="settings-container">
      <button class="settings-button" type="button">
        <svg-icon src="assets/images/settings.svg" [applyCss]="true"></svg-icon>
      </button>
    </div>
  </div>
</div>
