.header {
  width: calc(100% - 100px);
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-label {
  white-space: pre;
  color: #a6acbe;
  font-size: 14px;
  margin-top: 5px;
}

.settings-bar {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #373b53;
  display: flex;
  align-items: flex-end;
}

.settings-container {
  border-top: 1px solid #494e67;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-container {
  margin-left: 40px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.board-chosen {
  color: #a6acbe;
  font-size: 14px;
  margin-top: 5px;
}

.side-line {
  margin: 0 23px 0 8px;
}

.select-button {
  margin-left: 15px;
  background-color: transparent;
  color: #fdbc60;
  border: 1px solid #dadce5;
  border-radius: 5px;
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
  &__pencil-icon {
    margin: 0 14px 0 18px;
    svg {
      margin: 0;
    }
  }
}

.body {
  width: calc(100% - 100px);
  min-height: calc(100% - 100px);
  margin-left: 100px;
  background-color: #f8f8fb;
  max-height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  &__empty {
    &__title {
      margin: 0;
      font-size: 70px;
      margin-bottom: 25px;
      color: #a6acbe;
    }
    &__pick {
      margin: 0;
      font-size: 35px;
      color: #a6acbe;
    }
  }
}

.container {
  width: 100vw;
  height: 100vh;
}

.issues-container {
  max-width: 100%;
  max-height: 100%;
}
