<div class="container">
  <div class="header">
    <div class="title-container">
      <p class="title">GitLab Helper</p>
      <div class="labels">
        <p class="board-label">Board: {{ 'xD' }} /</p>
        <p class="board-label">Group: {{ 'xD' }} /</p>
        <p class="board-label">Assignee: {{ 'xD' }}</p>
      </div>
    </div>
    <div class="header-buttons">
      <span>
        <select name="group">
          <option *ngFor="let group of ['Group 1', 'Group 2', 'Group 3']">{{ group }}</option>
        </select>
      </span>
      <span>
        <select name="group">
          <option *ngFor="let group of ['Group 1', 'Group 2', 'Group 3']">{{ group }}</option>
        </select>
      </span>
      <span>
        <select name="group">
          <option *ngFor="let group of ['Group 1', 'Group 2', 'Group 3']">{{ group }}</option>
        </select>
      </span>
      <svg-icon class="side-line" src="assets/images/line.svg" [applyCss]="true"></svg-icon>
    </div>
  </div>

  <div class="body"></div>

  <div class="settings-bar">
    <div class="settings-container">
      <button class="settings-button" type="button">
        <svg-icon src="assets/images/settings.svg" [applyCss]="true"></svg-icon>
      </button>
    </div>
  </div>
</div>
