.container {
  max-width: 900px;
  min-width: 900px;
  max-height: 520px;
  min-height: 520px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.container-inside {
  margin: 45px 35px 25px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
  }
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  input {
    border: none;
    background-color: transparent;
    margin: 8px 0 28px 0;
    font-size: 18px;
    line-height: 24px;
  }
  input::placeholder {
    border-bottom: 1px solid #eef0f6;
    color: #a6acbe;
    font-size: 18px;
    line-height: 24px;
  }

  input:last-of-type {
    margin: 0 8px 0 0;
  }

  p {
    margin: 0;
  }

  .change-gitlab {
    font-size: 28px;
    font-weight: 300;
    line-height: 24px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 200px;
}

.confirm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #de7e00;
  color: white;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  max-width: 225px;
  min-width: 225px;
  max-height: 50px;
  min-height: 50px;

  svg-icon {
    margin: 17px 35px 17px 20px;
  }

  p {
    margin: 0 40px 0 0;
    font-size: 14px;
  }
}

.title {
  color: black;
  font-size: 32px;
  font-weight: 900;
}

.title-text {
  margin: 0;
}

.token-redirect {
  font-size: 10px;
  text-decoration: none;
  color: #a6acbe;
  line-height: 24px;
  font-weight: 300;
  margin-left: 2px;
}
