<div class="container">
  <div class="container-inside">
    <div class="header">
      {{ 'Settings' }}
    </div>
    <div class="body">
      <p class="change-gitlab">{{ 'settings.change_gitlab_url' | translate }}</p>
      <input type="text" name="gitlabURL" placeholder="Provide valid GitLab URL" [(ngModel)]="gitlabURL" />
      <p class="change-gitlab">{{ 'settings.change_gitlab_token' | translate }}</p>
      <input type="text" name="gitlabToken" placeholder="Provide valid GitLab Access token" [(ngModel)]="gitlabToken" />
      <a href="" class="token-redirect">How to generate gitlab token?</a>
    </div>
    <div class="buttons">
      <button class="confirm-button" type="button" (click)="changeSettings()">
        {{ 'Save' }}
      </button>
    </div>
  </div>
</div>
